.event-block {
  margin-right: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
}

.card-event {
  background-color: #212121;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100;
  text-align: left;
  margin-bottom: 30px;
}

.btn-event {
  background: #404040;
  border: 0;
  padding: 3%;
  font-family: sans-serif;
  cursor: pointer;
  transition: 1s linear;
}

.btn-event:hover {
  background: #2f2f2f;
  color: white;
}

@media screen and (max-width: 900px) {
  .event-block {
    margin-top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .card-event {
    width: 82%;
  }
}
