.event-block {
  margin-right: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
}

.card-event {
  background-color: #212121;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100;
  text-align: left;
}

.btn-event-take-part {
  margin: 5px;
  border: 0;
  background: #0288D1;
  color: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: sans-serif;
  cursor: pointer;
  transition: 1s linear;
}

.btn-event-take-part:hover {
  background: #01579B;
  color: white;
}

.btn-event-edit:hover {
  background: #01579B;
  color: white;
}

.btn-event-delete:hover {
  background: #DD2C00;
  color: white;
}

.btn-event-delete {
  margin: 5px;
  border: 0;
  background: #F4511E;
  color: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: sans-serif;
  cursor: pointer;
  transition: 1s linear;
}

.delete-cross {
  float: right;
}

@media screen and (max-width: 900px) {
  .event-block {
    margin-top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .card-event {
    width: 82%;
  }
}
