{% extends "login/base.html" %}

{% block content %}
    <div class="list-residents">
        <h3 class="list-text">Residents List</h3>
        <div class="userlist-block">
            <ul class="list-group list-join">
                <li class="list-group-item">Максим Осадчий</li>
                <li class="list-group-item">Алексей Белоченко</li>
                <li class="list-group-item">Михаил Будиш</li>
                <li class="list-group-item">Дима Блажевский</li>
                <li class="list-group-item disabled">...</li>
            </ul>
        </div>
    </div>
{% endblock %}