{% extends "base.html" %}

{% block content %}
    <div class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 style="text-align:center">Face security system</h2>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 1%;">
            <div class="row">
                <div class="col-sm" style="text-align: center;">
                        {% if open_door %}
                            <p>Status: Open</p>
                        {% elif close_door %}
                            <p>Status: Close</p>
                        {% else %}
                            <p>Status: no connection</p>
                        {% endif %}  
                        <p>Last seen: 19.12.18 13:23</p>
                        <p>Residents: {{ residents }} members</p>
                        <p>Mentors: {{ mentors }} members</p>
                        <p>Owners: {{ owners }} members</p>
                        <div class="door-dutton">
                            <a href="\"><button class="btn btn-primary" type="submit" >Open door</button></a>
                            <a href="\"><button class="btn btn-primary" type="submit" >Close door</button></a>
                        </div>
                </div>
        </div>
        <div class="container" style="padding: 2%;">
            <div class="row">
                <div class="col-sm">
                    <h2 style="text-align:center; padding: 1%; margin: 0;">Statistic users</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 2%;">
            <div class="row">
                <div class="col-sm">
                    <h2 style="text-align:center; padding: 1%; margin: 0;">Online Checker</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding: 5%;padding-top: 0;padding-left:0;padding-right:0;">
              <div class="col">
                <div class="container list-group" style="border-bottom: black 1px outset;">
                    <div class="row">
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Name Surname</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Status</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Time</p>
                        </div>
                    </div>
                </div>
                <div class="userjoin-block">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="container list-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">Maxim Osadchiy</p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">Resident</p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">15:43 12.02.2018</p>
                                    </div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
{% endblock %}