{% extends "base.html" %}

{% block content %}
    <div class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <h2 style="text-align:center">Face security system</h2>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 1%;">
            <div class="row">
                <div class="col-sm">
                    <div class="online-camera">
                        <div style="display: flex;justify-content: center;">
                            <div class="camera-block">
                                {{camera}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        {% if open_door %}
                            <p>Status: Open</p>
                        {% elif close_door %}
                            <p>Status: Close</p>
                        {% else %}
                            <p>Status: no connection</p>
                        {% endif %}  
                        <p>Last seen: 19.12.18 13:23</p>
                        <p>Residents:</p>
                        <p>Mentors:</p>
                        <p>Owners:</p>
                        <a href="\"><button class="btn btn-primary" type="submit" >Open door</button></a>
                        <a href="\"><button class="btn btn-primary" type="submit" >Close door</button></a>
                    </div>
                </div>
        </div>
        <div class="container" style="padding: 2%;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <h2 style="text-align:center; padding: 1%; margin: 0;">Online Checker</h2>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding: 5%;padding-top: 0;padding-left:0;padding-right:0;">
              <div class="col">
                <div class="container list-group" style="border-bottom: black 1px outset;">
                    <div class="row">
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Name Surname</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Status</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Change</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Delete</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Time</p>
                        </div>
                    </div>
                </div>
                <div class="userjoin-block">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="container list-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">Maxim Osadchiy</p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">Resident</p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="width:70%;">Change</button></a></p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="background: red; width:70%;" >Delete</button></a></p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">15:43 12.02.2018</p>
                                    </div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}