{% extends 'index-user-base.html' %}

{% block info_user %}

{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/home-user.css' %}" type="text/css">
<link rel="stylesheet" media="all" href="{% static 'css/base.css' %}" type="text/css">

<div class="container">
    <div class="row">
        <div class="col-sm" style="margin-bottom: 2%;"></div>
        <div class="col-sm" style="margin-bottom: 2%;margin-top:2%">
            <h3>Technical support</h3>
            <div class='support-block'>
            </div>
        </div>
        <div class="col-sm" style="margin-bottom: 2%;"></div>
    </div>
</div>


{% endblock %}