{% extends "base.html" %}

{% block content %}
    <div class="list-residents">
        {% if list_residents %}
            <h3 class="list-text">Residents List</h3>
        {% elif list_mentors %}
            <h3 class="list-text">Mentors List</h3>
        {% elif list_owners %}
            <h3 class="list-text">Owners List</h3>
        {% endif %}  
        <div class="container">
            <div class="row" style="padding: 5%;padding-top: 0;padding-left:0;padding-right:0;">
              <div class="col">
                <div class="container list-group" style="border-bottom: black 1px outset;">
                    <div class="row">
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Name Surname</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Status</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Change</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Delete</p>
                        </div>
                        <div class="col-sm">
                            <p style="text-align:center;margin: 0;line-height: 2;">Time</p>
                        </div>
                    </div>
                </div>
                <div class="userjoin-block">
                    <ul class="list-group">
                        {% for item in list_residents %}
                            <li class="list-group-item">
                                <div class="container list-group">
                                    <div class="row">
                                        <div class="col-sm">
                                            {% for item in list_residents %}
                                                <a href="/user/{{ item.id }}"><p style="text-align:center;margin: 0;line-height: 2;">{{ item.name }} {{ item.surname }}</p></a>
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm">
                                            <p class="list-text" style="text-align:center;margin: 0;line-height: 2;">Resident</p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="width:70%;">Change</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="background: red; width:70%;" >Delete</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;">no connection</p>
                                        </div> 
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% for item in list_mentors %}
                            <li class="list-group-item">
                                <div class="container list-group">
                                    <div class="row">
                                        <div class="col-sm">
                                            {% for item in list_mentors %}
                                                <a href="/user/{{ item.id }}"><p style="text-align:center;margin: 0;line-height: 2;">{{ item.name }} {{ item.surname }}</p></a>
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm">
                                            <p class="list-text" style="text-align:center;margin: 0;line-height: 2;">Mentor</p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="width:70%;">Change</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="background: red; width:70%;" >Delete</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;">no connection</p>
                                        </div> 
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% for item in list_owners %}
                            <li class="list-group-item">
                                <div class="container list-group">
                                    <div class="row">
                                        <div class="col-sm">
                                            {% for item in list_owners %}
                                                <a href="/user/{{ item.id }}"><p style="text-align:center;margin: 0;line-height: 2;">{{ item.name }} {{ item.surname }}</p></a>
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm">
                                            <p class="list-text" style="text-align:center;margin: 0;line-height: 2;">Owner</p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="width:70%;">Change</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;"><a href="\"><button class="btn btn-primary" type="submit" style="background: red; width:70%;" >Delete</button></a></p>
                                        </div>
                                        <div class="col-sm">
                                            <p style="text-align:center;margin: 0;line-height: 2;">no connection</p>
                                        </div> 
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}