body {
    background: white;
}

.login-block {
    background: white;
    position: relative;
    top: 75px;
    margin: 0;
}

.camera-block {
    background: black;
    width: 50vh;
    height: 50vh;
}

.form-block {
    width: 100%;
}

.userjoin-block {
    overflow-y: scroll;
    max-height: 50vh;
}

.list-residents {
    background: white;
    position: relative;
    height: 100vh;
}


.form-group {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 5%;
}

.list-join {
    display: flex !important;
    justify-content: center;
}

.list-text {
    text-align: center;
}

.register-buttom {
    padding: 0 15px 0 15px;
}

.register-text {
    width: 100%;
    line-height: 2;
    text-align: center;
}