.home-page {
  margin-top: 35px;
}

.col-sm {
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-text {
  text-align: left;
}

.chart {
  margin-top: 30px;
  background-color: #212121;
  box-shadow: 0 0 30px 3px #212121;
  height: 78vh;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    margin-top: 0;
  }
  .home-page {
    margin-top: 0;
  }
}
