{% extends 'index-user-base.html' %}

{% block info_user %}

{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/home-user.css' %}" type="text/css">

<div>
    <h3 class="statistic-text">Statistic</h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

{% endblock %}