{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/login.css' %}" type="text/css">

<div class="background-image"></div>
    <h1>Control system</h1>
    <div class="container">
        <form action="" method="post">
            <input class="login-input" type="text" placeholder="Login" required>
            <input class="password-input" type="password" placeholder="Password" required>
            <p class="request-text"><a class="request-href" href="/login">Request for success</a></p>
            <input class="submit-input" type="submit" value="Log in">
        </form>
    </div>























    <!-- <div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="login-block" style='display: table-caption;'>
        <form style="display:grid;" action="" method="post">
            <h3 class="list-text">Login</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <input style="width: 100%;margin-top: 1em;" type="submit" value="Log in" class="btn btn-primary">       
        </form>
        </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div> -->
{% endblock %}