{% extends 'index-admin-base.html' %}

{% block info_admin %}
{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/events.css' %}" type="text/css">

<div class="container">
    <div class="event card text-center col-md-4">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>

{% endblock %}