{% extends 'index-admin-base.html' %}

{% block info_admin %}
{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/events.css' %}" type="text/css">

<div class="container event-list">
    {% for item in events %}
      <div class="event card text-center col-sm">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href="#" class="btn btn-primary">Info</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}