{% extends "login/base.html" %}

{% block content %}
    <div class="login-block">
        <div class="container">
            <div class="row" style="padding: 5%">
              <div class="col">
                <div class="camera-block">
                    {{camera}}
                </div>
              </div>
              <div class="col">
                <div class="userjoin-block">
                    <ul class="list-group">
                        <li class="list-group-item" style="display:flex;justify-content: center;">Максим Осадчий - зашел в 14:59 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Алексей Белоченко - зашел в 15:43 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Михаил Будиш - зашел в 15:49 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Дима Блажевский - зашел в 16:21 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Максим Осадчий - зашел в 14:59 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Алексей Белоченко - зашел в 15:43 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Михаил Будиш - зашел в 15:49 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Дима Блажевский - зашел в 16:21 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Максим Осадчий - зашел в 14:59 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Алексей Белоченко - зашел в 15:43 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Михаил Будиш - зашел в 15:49 12.02.2018</li>
                        <li class="list-group-item" style="display:flex;justify-content: center;">Дима Блажевский - зашел в 16:21 12.02.2018</li>
                        <li class="list-group-item disabled" style="display:flex;justify-content: center;">...</li>
                    </ul>
                </div>
                <div class='register-block'>
                    <form style="display:grid;" action="" method="post">
                      {% csrf_token %}
                      {{ form }}
                      <input style="width: 29%;margin-top: 1em;" type="submit" value="Register" class="btn btn-primary">                        
                    </form>
                </div>
                    <a href="/residents/">
                    <button style='margin-top:5%' class="btn btn-primary" type="submit" >List of Residents</button>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}