{% extends "login/base.html" %}

{% block content %}
    <div class="login-block">
        <div class="container">
            <div class="row" style="padding: 5%">
              <div class="col">
                <div class="camera-block">1</div>
              </div>
              <div class="col">
                <div class="userlist-block">
                        <ul class="list-group">
                                <li class="list-group-item">Максим Осадчий</li>
                                <li class="list-group-item">Алексей Белоченко</li>
                                <li class="list-group-item">Михаил Будиш</li>
                                <li class="list-group-item">Дима Блажевский</li>
                                <li class="list-group-item disabled">...</li>
                              </ul>
                </div>
                <div class='register-block'>
                    <form>
                        <div class="row">
                         <h3 class="register-text">Add new Resident</h3>
                            <div class='form-block'>
                                    <div class="col" style="margin-bottom: 5%">
                                        <input type="text" class="form-control" placeholder="First name" required>
                                    </div>
                                    <div class="col" style="margin-bottom: 5%">
                                        <input type="text" class="form-control" placeholder="Last name" required>
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlFile1">Add your image</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <div class="register-buttom">
                                <button class="btn btn-primary" type="submit">Sign Up</button>
                            </div>
                        </div>
                      </form>
                </div>
              </div>
            </div>
    </div>
{% endblock %}