.profile-block {
  background-color: #212121;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.profile-right {
  text-align: left;
}

.profile-left {
  padding-right: 20px;
}

.profile-text-title {
  margin: 0;
  font-size: 2em;
  padding-bottom: 3%;
}

@media screen and (max-width: 900px) {
  .profile-block {
    margin-top: 80px;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 650px) {
  .profile-top {
    flex-direction: column;
  }

  .profile-right {
    text-align: center;
  }

  .profile-left {
    padding-right: 0;
    padding-bottom: 20px;
  }
}
