.profile-block {
  margin-top: 30px;
  background-color: #212121;
  box-shadow: 0 0 30px 3px #212121;
  height: 95vh;
  width: 100%;
}

.profile-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.profile-right {
  text-align: left;
}

.profile-left {
  padding-right: 20px;
}

.profile-text-title {
  margin: 0;
  font-size: 2em;
  padding: 3%;
}

.login-form-row {
  display: flex;
  max-height: 70vh;
  /* flex-direction: column; */
  /* overflow-y: scroll; */
}

.create-form {
  background: #27282d;
  /* height: 340px; */
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-left {
  margin-right: 10px;
}

.form-right {
  margin-left: 10px;
}

.login-form-row::-webkit-scrollbar {
  background-color: gray;
}

.login-form-row::-webkit-scrollbar-thumb {
  background-color: #434347;
}


.create-categories {
  height: 5vh;
  background-color: #2B2C30;
  border-radius: 5px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  width: 100%;
}

.user-btn, .event-btn, .course-btn {
  padding: 9px;
  width: 33.3%;
  cursor: pointer;
  transition: 1s;
}

.user-btn:hover, .event-btn:hover, .course-btn:hover {
  background: #424242;
}

.select {
  position: relative;
  display: block;
/*   width: 20em; */
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select-tag{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputfile {
	width: 40px;
	height: 40px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

@media screen and (max-width: 650px) {
  .profile-top {
    flex-direction: column;
  }

  .profile-right {
    text-align: center;
  }

  .profile-left {
    padding-right: 0;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 1250px) {
  .form-left {
    margin-right: 0;
  }

  .form-right {
    margin-left: 0;
  }

  .login-form-row {
    flex-direction: column;
    overflow-y: scroll;
  }

}

