.profile-block {
  margin-top: 30px;
  background-color: #212121;
  box-shadow: 0 0 30px 3px #212121;
  height: 95vh;
  width: 100%;
}

.profile-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.profile-right {
  text-align: left;
}

.profile-left {
  padding-right: 20px;
}

.profile-text-title {
  margin: 0;
  font-size: 2em;
  padding: 3%;
}

.login-form-row {
  display: flex;
  max-height: 70vh;
  /* flex-direction: column; */
  /* overflow-y: scroll; */
}

.form-left {
  margin-right: 10px;
}

.form-right {
  margin-left: 10px;
}

.login-form-row::-webkit-scrollbar {
  background-color: gray;
}

.login-form-row::-webkit-scrollbar-thumb {
  background-color: #434347;
}

@media screen and (max-width: 650px) {
  .profile-top {
    flex-direction: column;
  }

  .profile-right {
    text-align: center;
  }

  .profile-left {
    padding-right: 0;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 1250px) {
  .form-left {
    margin-right: 0;
  }
  
  .form-right {
    margin-left: 0;
  }
  
  .login-form-row {
    flex-direction: column;
    overflow-y: scroll;
  }

}

