.col-sm {
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-text {
  text-align: center;
}

.chart {
  margin-top: 3vh;
  background-color: #212121;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  height: 71vh;
  width: 100%;
  position: static;
}

@media screen and (max-width: 900px) {
  .home-page {
    margin-top: 80px;
  }
  .chart {
    margin-top: 0;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
    margin-top: 0;
  }
}
