{% extends '../index-admin-base.html' %}

{% block info_admin %}

{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/profile-event.css' %}" type="text/css">

<h3 style='text-align: center;margin: 2%;'>Profile event</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p> Name Event: {{profile_events.name}}</p>
                <p> Description {{profile_events.description}} </p>
                <p> Organizer: {{profile_events.organizer}} </p>
                <p> Start Event: {{profile_events.start_time}}</p>
                <p> End Event: {{profile_events.end_time}}</p>
                <p style="margin-bottom: 1%;line-height: 2;width:50%;"><a href="/user/{{ profile_events.id }}/add_guest"><button class="btn btn-primary" type="submit" style="width:70%;">Add Guest</button></a></p>
                <p style="margin-bottom: 1%;line-height: 2;width:50%;"><a href="/user/{{ profile_events.id }}/edit"><button class="btn btn-primary" type="submit" style="width:70%;">Edit</button></a></p>
                <p style="margin: 0;line-height: 2;width:50%;"><a href="/user/{{ profile_events.id }}delete"><button class="btn btn-primary" type="submit" style="background: #EF5350; width:70%;" >Delete</button></a></p>
            </div>
        </div>
    </div>
<h3 style='text-align: center;margin: 2%;'>Statistic event</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
<h3 style='text-align: center;margin: 2%;'>Guests</h3>
    <div class="container">
            <div class="userjoin-block">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="container list-group">
                            {% for i in seen %}
                                <div class="row">
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">{{ i.name }}</p>
                                    </div>
                                    <div class="col-sm">
                                        <p style="text-align:center;margin: 0;line-height: 2;">{{ i.status }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var users = [];
    var names = [];
    var data = [];
    // var req = new XMLHttpRequest();
    // req.open('GET', 'http://localhost:8000/api', s)
    fetch('http://localhost:8000/api-attendance', {"Content-Type": "application/json"})
    .then((res) => {
        return res.json()
    })
    .then((att) => {
        for(var i in att){
            names.push(att[i].fields.name)
            data.push(att[i].fields.attendance)
        }
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: names,
                datasets: [{
                    label: "Attendance in this month",
                    borderColor: 'rgb(255, 99, 132)',
                    data: data,
                }]
            },

            // Configuration options go here
            options: {}
        });
    })
    .catch((err) => {console.error(err)});
</script>

{% endblock %}
