.people-block {
  margin-right: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
  margin-bottom: 30px;
}

.card-people {
  background-color: #212121;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100;
}

@media screen and (max-width: 900px) {
  .people-block {
    margin-top: 80px;
  }
  .card-people {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .card-people {
    width: 82%;
  }
}
